section.cont{
	width: 83%;
	background-color: #176093;
}
section.cont div.categoria{
	padding-left: 5%;
	background: #032A46;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}
section.cont div.categoria ul li {
	display:inline-block;
	list-style: none;
}

section.cont div.categoria ul li a {
	text-decoration: none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	color: #dcecfc;
	font-size: 0.9em;
}

section.cont div.categoria ul li a.act {
background-color: #176093;
}

section.cont div.categoria ul li a:hover{
	background: #176093;
}



