section.cont{
	background-color: #176093;
}
section.cont div.categoria{
	padding-left: 5%;
	background: #032A46;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

}
section.cont div.categoria ul li {
	display:inline-block;
	list-style: none;
}

section.cont div.categoria ul li a {
	text-decoration: none;
	padding-top:8px;
	padding-bottom:8px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	color: #dcecfc;
	font-size: 0.9em;
}

section.cont div.categoria ul li a.act {
background-color: #176093;
}

section.cont div.categoria ul li a:hover{
	background: #176093;
}

section.cont div.total{
	background-color: #032A46; 
	margin-top: 20px;
	margin-left:50px;
	width: 15%;
	border-radius: 3px;
	border:2px solid #dcecfc;
}

section.cont div.total a{
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	color: #dcecfc;
	text-decoration: none;
}
section.cont div.total a:hover{
	background-color: #176093;
}


section.cont div.gano{
	color: #dcecfc;
	margin: 10px 20px 0px 20px;
	padding: 10px;
	border-radius: 5px;
}


section.cont div.gano img.foot{
	width: 100px;
	height: 100px;
	display: inline-block;
	color: #dcecfc;
	border: 3px solid #032A46;
	border-radius: 50%;
}

section.cont div.gano span {
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
	font-weight: bold;
	
}
section.cont div.gano span p{
	background: #032A46;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
	font-size: 1.5em;
	}

section.cont div.gano span p.topjugadas{
	font-size: 1em;
	}


section.cont div.crefe{
	margin: 40px 20px 20px 20px;
	border: 2px solid #032A46;
	border-radius: 5px;
	padding-bottom: 10px;
}

div.opt{
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 30px; 
	margin-top: -15px;
	color:#dcecfc;
	
}
section.cont span.gan{
	background-color: #176093;
	display: inline-block;
	margin-right: 30px;
	padding-left: 3px;
	padding-right: 5px;
}

section.cont span.gan a{
	color: #dcecfc;
	text-decoration: none;
}

section.cont span.gan a:hover{
	color: #032A46;
}